* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Permanent Marker', cursive;
}

p {
    font-family: 'Noto Sans', sans-serif;
}

#main-container {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 100px;
}

/* Navbar Custom CSS */
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-nav > li{
    padding-left:10px;
    padding-right:10px;
}

.mx-auto {
    text-align: center;
}

.navbar-expand-md{
    display: flex;
    flex-direction: row-reverse;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.bg-light {
    transition: 500ms ease;
    background-color: transparent!important;
}

.bg-light.scrolled {
    background: #000!important;
    border-bottom: 2px #343a40;
}

@media only screen and (max-width: 767px) {
    .bg-light {
      background-color: #000!important;
    }

    .bg-light.scrolled {
        background: #000!important;
        border-bottom: 2px #030404;
    }
    
}

/* /Navbar Custom CSS */


/* Hero Custom CSS */
.hero {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    position: relative;
    background-attachment: fixed;
}

.hero::before {
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.4;
}

@media (min-width: 1760px) {
    .hero::before {
        background-image: url(../img/banner.jpg);
    }
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.hero-message {
    color: #fff;
    text-shadow: #343a40 2px;
    min-width: 100%;
    min-height: 12em;
    position: relative;
}

.hero-title,
.hero-sub-title {
    width: 100%;
    display: block;
    text-align: center;
}

.hero-title {
    font-size: 70px;
    margin: 3% 0;
    text-transform: uppercase;
}

.hero::after {
    background-color: #030404;
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}

.h-txt {
    padding: 20% 2%;
}

/* /Hero Custom CSS */

/* About Custom CSS */
.about-title {
    background: url(../img/about.jpg);
    background-size: cover;
    background-position: center;
    min-height: 35vw;
    opacity: 0.65;
}

.about-title {
    text-shadow: #343a40 2px;
    color: white;
    width: 100%;
    display: block;
    text-align: center;
}

@media (min-width: 1760px) {
    .about-title::before {
        background-image: url(../img/banner.jpg);
    }
}

.about-text {
    padding-top: 6vh;
    padding-bottom: 6vh;
}

/* About Custom CSS */

/* Footer Custom CSS */

#footer {
    height: 250px;
    margin-top: -40px;
    clear: both;
    background-color: #000;
    color: #f3f3f3;
    position: relative;
    border-top: 1px solid #EBEBEB;
}

/* Footer Custom CSS */

/* Parallax Background */

.bg-default{
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.bgimg-1, .bgimg-2 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  
  .bgimg-1 {
    background-image: url("../img/konser.png");
    min-height: 400px;
  }
  
  .bgimg-2 {
    background-image: url("../img/bgimg2.jpg");
    min-height: 400px;
  }
  
  .caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
  }

/* /Parallax Background */